<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block titlee%}{%endblock%}</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/script.js"></script>
</head>

<nav class="full">
  <a class="link_a" href="/" onClick="ul(0)">Book list</a>
  <a class="link_a" href="/addbook" onClick="ul(2)">Add a book</a>
  <a class="link_a" href="/rapport" onClick="ul(2)">Rapport</a>
</nav>
{%block content%}

{%endblock%}
</html>