<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block titlee%}{%endblock%}</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/script.js"></script>
</head>

<!-- Nav bar -->

<nav class="full">
  <div class="underline"></div>
  <div class="underline"></div>
  <div class="underline"></div>
  <a href="/" onClick="ul(0)">Form</a><a class="nslt" href="/newsletter" onClick="ul(1)">Newsletter</a><a onClick="ul(2)">Playlist</a><a onClick="ul(3)">Community</a><a onClick="ul(4)">Contact</a><a onClick="ul(5)">About</a>
</nav>

<!-- END Nav bar -->


{%block content%}

{%endblock%}
<!-- Site footer -->
<div class="footer-basic">
  <footer>
      <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Home</a></li>
          <li class="list-inline-item"><a href="#">Services</a></li>
          <li class="list-inline-item"><a href="#">About</a></li>
          <li class="list-inline-item"><a href="#">Terms</a></li>
          <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
      </ul>
      <p class="copyright">Company Name © 2018</p>
  </footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>

</html>